body            { font-family: sans-serif; background: #eee; }
a, h1           { color: #377BA8; }
h1              { border-bottom: 2px solid #eee; margin-top: 0; }

ul				{ list-style-type: none; padding-left: 0}
li 				{ border: 1px solid #ccc; margin-bottom: 0.5em; }
pre				{ font-size: small; padding: 0.3em; margin: 0;}

.page           { margin: 2em auto; width: 1000px; border: 5px solid #ccc;
                  padding: 1.5em; background: white; }

.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.header         { display: block; overflow: hidden; padding: 0.3em;}

.red			{ background: rgb(245,245,245); }
.green 			{ background: rgb(245,245,245); }


.from			{ font-family: monospace; font-size: medium; font-weight: normal;
				  float: left; width: 25%;}

.subject		{ font-family: monospace; font-size: medium; font-weight: bold;
                  float: left;}
