<!doctype html>
<title>Informant</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <div class="top">
    <div class="top-title">Informant</div>
    <div class="top-nav"><a href=readme>README.md</a> | <a href=forwarding-edit>Edit forwarding rules</a> | <a href=styling-edit>Edit styling rules</a></div>
  </div>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  
  {% block body %}{% endblock %}
</div>