<!doctype html>
<title>Informant</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <div class="top">
    <div class="top-title">Informant</div>
    <div class="top-nav">
      <a href="{{ url_for('messages') }}" {% if request.path == url_for('messages') %}class="active"{% endif %}>Messages</a> | 
      <a href="{{ url_for('readme') }}" {% if request.path == url_for('readme') %}class="active"{% endif %}>README.md</a> | 
      <a href="{{ url_for('forwarding_edit') }}" {% if request.path == url_for('forwarding_edit') %}class="active"{% endif %}>Edit forwarding rules</a> | 
      <a href="{{ url_for('styling_edit') }}" {% if request.path == url_for('styling_edit') %}class="active"{% endif %}>Edit styling rules</a>
    </div>
  </div>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  
  {% block body %}{% endblock %}
</div>