{% extends "layout.html" %}
{% block body %}
  <ul>
  {% for mail in mails %}
    <li>
      <div class="header" style="background: {{ mail.maildata|headercolor }}">
        <div class="from">From: {{ mail.maildata|email_from|safe }}<br />
                          {{ mail.date }} [<a href="/email_raw?id={{ mail.id }}">raw</a>]</div>
        <div class="subject">{{ mail.maildata|email_subject|safe }}</div>
      </div>
      <pre>{{ mail.maildata|email_body|safe }}</pre>
    </li>
  {% else %}
    <li><em>Unbelievable.  No mails here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}